.navbar{
    background-image: url('https://i.ibb.co/FXgkbCw/background-gif.gif');
    background-size:cover;
    height:fit-content;
    top:fixed;
}
.btn-ghost:hover{
    background-color: rgba(220, 20, 60, 0.632);
}